In [1]:
import pandas as pd
import numpy as np

# ZADANIE 1

In [2]:
df = pd.read_csv("C://Users/48510/Desktop/ML/datalab2.csv")

# ZADANIE 2

In [3]:
from sklearn.model_selection import train_test_split

#### funkcja train_test_split dzieli zbiór danych wejściowe na dwie części losowych podzbiorów: dane testowe i treningowe

# ZADANIE 3

In [4]:
 col_name=['cabin','CabinReduced','sex']

# ZADANIE 4

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df[col_name],df['survived'], test_size=0.30, random_state=0)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(916, 3) (393, 3) (916,) (393,)

#### zbiór danych został podzielony w skali: 70% zbioru wejsciowego to dane treningowe, a 30% testowe. X_train zawiera  kolumny na podstawie ktorych zbior bedzie trenowany a w y_train są etykiety które bedą przypisywane na podstawie danych z X_train. Taki sam podział dla zbioru testowego X_test- dane na podstawie których wykonuje się klasyfikację, y_test -etykiety przypisywane na podstawie klasyfikacji

# ZADANIE 5

In [6]:
Unique_test = [x for x in X_test.cabin.unique() if x not in X_train.cabin.unique()]
len(Unique_test)

37

In [7]:
Unique_test = [x for x in X_test.CabinReduced.unique() if x not in X_train.CabinReduced.unique()]
len(Unique_test)

0

In [8]:
Unique_test = [x for x in X_test.sex.unique() if x not in X_train.sex.unique()]
len(Unique_test)

0

#### rozklad dla zmiennych CabinReduced i sex jest rownomierny. Dla zmiennej cabin brakuje 37 wwartości do zbiory równomiernego

# ZADANIE 6

In [9]:
dict_cabin={}
x=pd.concat([X_train['cabin'],X_test['cabin']])
col=list(set(x))

for idx,val in enumerate(col):
    dict_cabin[val]=idx

dict_cabin

{nan: 0,
 'C39': 1,
 'F G73': 2,
 'B28': 3,
 'B49': 4,
 'C116': 5,
 'C90': 6,
 'B4': 7,
 'C101': 8,
 'E60': 9,
 'C65': 10,
 'A31': 11,
 'E33': 12,
 'B3': 13,
 'D34': 14,
 'A6': 15,
 'E46': 16,
 'D': 17,
 'D10 D12': 18,
 'C91': 19,
 'B36': 20,
 'E67': 21,
 'D20': 22,
 'B80': 23,
 'D43': 24,
 'B52 B54 B56': 25,
 'B102': 26,
 'C99': 27,
 'D47': 28,
 'E34': 29,
 'B101': 30,
 'D7': 31,
 'C28': 32,
 'C50': 33,
 'A9': 34,
 'B96 B98': 35,
 'A10': 36,
 'F38': 37,
 'B94': 38,
 'E38': 39,
 'F E46': 40,
 'C32': 41,
 'B61': 42,
 'C83': 43,
 'E63': 44,
 'B73': 45,
 'C82': 46,
 'E77': 47,
 'D49': 48,
 'B37': 49,
 'C123': 50,
 'A36': 51,
 'A11': 52,
 'F E69': 53,
 'C55 C57': 54,
 'C111': 55,
 'E24': 56,
 'F4': 57,
 'A14': 58,
 'B24': 59,
 'C6': 60,
 'B78': 61,
 'A7': 62,
 'E8': 63,
 'C118': 64,
 'D17': 65,
 'D6': 66,
 'C80': 67,
 'C126': 68,
 'D46': 69,
 'A26': 70,
 'A16': 71,
 'D45': 72,
 'B10': 73,
 'C78': 74,
 'B57 B59 B63 B66': 75,
 'B22': 76,
 'B5': 77,
 'C105': 78,
 'C62 C64': 79,
 'C7': 80,
 'F2': 81,
 'D37': 82,
 'C125': 83,
 'D28': 84,
 'B35': 85,
 'B71': 86,
 'C22 C26': 87,
 'C95': 88,
 'B39': 89,
 'F G63': 90,
 'C148': 91,
 'E36': 92,
 'C23 C25 C27': 93,
 'D22': 94,
 'F E57': 95,
 'E12': 96,
 'E101': 97,
 'A29': 98,
 'G6': 99,
 'B69': 100,
 'C68': 101,
 'D9': 102,
 'B82 B84': 103,
 'A19': 104,
 'A5': 105,
 'B30': 106,
 'E40': 107,
 'A32': 108,
 'B45': 109,
 'D38': 110,
 'T': 111,
 'C31': 112,
 'E31': 113,
 'C104': 114,
 'C86': 115,
 'D48': 116,
 'D56': 117,
 'E25': 118,
 'B79': 119,
 'F': 120,
 'D40': 121,
 'E52': 122,
 'C93': 123,
 'E17': 124,
 'C124': 125,
 'B11': 126,
 'E44': 127,
 'B20': 128,
 'C30': 129,
 'B77': 130,
 'C52': 131,
 'D30': 132,
 'A34': 133,
 'C106': 134,
 'C46': 135,
 'E45': 136,
 'D36': 137,
 'B42': 138,
 'B38': 139,
 'D50': 140,
 'B26': 141,
 'C45': 142,
 'E49': 143,
 'E39 E41': 144,
 'B58 B60': 145,
 'A21': 146,
 'E50': 147,
 'D26': 148,
 'C85': 149,
 'C128': 150,
 'D15': 151,
 'F33': 152,
 'C89': 153,
 'D19': 154,
 'C103': 155,
 'C49': 156,
 'E68': 157,
 'B41': 158,
 'A18': 159,
 'D21': 160,
 'C53': 161,
 'D33': 162,
 'A24': 163,
 'C130': 164,
 'C54': 165,
 'B19': 166,
 'C110': 167,
 'C51': 168,
 'D35': 169,
 'C2': 170,
 'B51 B53 B55': 171,
 'B18': 172,
 'A23': 173,
 'C132': 174,
 'A20': 175,
 'C47': 176,
 'B50': 177,
 'D11': 178,
 'C70': 179,
 'C92': 180,
 'E121': 181,
 'C97': 182,
 'E10': 183,
 'C87': 184,
 'E58': 185,
 'B86': 186}

In [10]:
dict_cr={}
x=pd.concat([X_train['CabinReduced'],X_test['CabinReduced']])
col=list(set(x))

for idx,val in enumerate(col):
    dict_cr[val]=idx

dict_cr

{'A': 0, 'F': 1, 'D': 2, 'T': 3, 'G': 4, 'B': 5, 'E': 6, 'n': 7, 'C': 8}

In [11]:
dict_sex={}
x=pd.concat([X_train['sex'],X_test['sex']])
col=list(set(x))

for idx,val in enumerate(col):
    dict_sex[val]=idx

dict_sex

{'female': 0, 'male': 1}

# ZADANIE 7

In [12]:
X_train['cabin_map'] = X_train['cabin'].map(dict_cabin)
X_test['cabin_map'] = X_test['cabin'].map(dict_cabin)
X_train[['cabin_map','cabin']]

      cabin_map cabin
501           0   NaN
588           0   NaN
402           0   NaN
1193          0   NaN
686           0   NaN
...         ...   ...
763           0   NaN
835           0   NaN
1216          0   NaN
559           0   NaN
684           0   NaN

[916 rows x 2 columns]

In [13]:
X_train['cabin_reduced_map'] = X_train['CabinReduced'].map(dict_cr)
X_test['cabin_reduced_map'] = X_test['CabinReduced'].map(dict_cr)
X_train[['cabin_reduced_map','CabinReduced']]

      cabin_reduced_map CabinReduced
501                   7            n
588                   7            n
402                   7            n
1193                  7            n
686                   7            n
...                 ...          ...
763                   7            n
835                   7            n
1216                  7            n
559                   7            n
684                   7            n

[916 rows x 2 columns]

In [14]:
X_train['sex_map'] = X_train['sex'].map(dict_sex)
X_test['sex_map'] = X_test['sex'].map(dict_sex)
X_train[['sex_map','sex']]

      sex_map     sex
501         0  female
588         0  female
402         0  female
1193        1    male
686         0  female
...       ...     ...
763         0  female
835         1    male
1216        0  female
559         0  female
684         0  female

[916 rows x 2 columns]

In [15]:
X_train_map=X_train[['cabin_map','cabin_reduced_map','sex_map']]
X_test_map=X_test[['cabin_map','cabin_reduced_map','sex_map']]

# ZADANIE 8

In [16]:
X_train_map.isna().sum()

cabin_map            0
cabin_reduced_map    0
sex_map              0
dtype: int64

In [17]:
X_test_map.isna().sum()

cabin_map            0
cabin_reduced_map    0
sex_map              0
dtype: int64

In [18]:
X_train.isna().sum()

cabin                702
CabinReduced           0
sex                    0
cabin_map              0
cabin_reduced_map      0
sex_map                0
dtype: int64

In [19]:
X_test.isna().sum()

cabin                312
CabinReduced           0
sex                    0
cabin_map              0
cabin_reduced_map      0
sex_map                0
dtype: int64

# ZADANIE 9

In [20]:
X_train['cabin'] = df['cabin'].replace(np.nan, 0)

In [21]:
X_test['cabin'] = df['cabin'].replace(np.nan, 0)

#### Zmodyfikowane zbiory danych nie mają wartości NaN ponieważ w wyniku mapowania zostały już zastąpione. W przypadku zmiennej cabin kardynalność jest wysoka, więc zastępując NaN wartością 0 stworzymy nową etykietę, do której wpadnie duża grupa co może niekorzystnie wpłynąc na dalsze analizy.

# ZADANIE 10

###### Porównaj ile unikalnych wartości jest w zbiorze treningowym, a ile w zbiorze testowym (funkcja len)

In [22]:
Unique_map_test1 = [x for x in X_test_map.cabin_map.unique() if x not in X_train_map.cabin_map.unique()]
len(Unique_map_test1)

36

In [23]:
Unique_map_test2 = [x for x in X_test_map.cabin_reduced_map.unique() if x not in X_train_map.cabin_reduced_map.unique()]
len(Unique_map_test2)

0

In [24]:
Unique_map_test3 = [x for x in X_test_map.sex_map.unique() if x not in X_train_map.sex_map.unique()]
len(Unique_map_test3)

0

In [25]:
for col in X_test.columns:
    print('Liczba etykiet zmiennej {}: {}'.format(col,len(X_test[col].unique())))

Liczba etykiet zmiennej cabin: 71
Liczba etykiet zmiennej CabinReduced: 8
Liczba etykiet zmiennej sex: 2
Liczba etykiet zmiennej cabin_map: 71
Liczba etykiet zmiennej cabin_reduced_map: 8
Liczba etykiet zmiennej sex_map: 2

In [26]:
for col in X_train.columns:
    print('Liczba etykiet zmiennej {}: {}'.format(col,len(X_train[col].unique())))

Liczba etykiet zmiennej cabin: 151
Liczba etykiet zmiennej CabinReduced: 9
Liczba etykiet zmiennej sex: 2
Liczba etykiet zmiennej cabin_map: 151
Liczba etykiet zmiennej cabin_reduced_map: 9
Liczba etykiet zmiennej sex_map: 2

#### Jaka jest różnica pomiędzy liczbą etykiet przed i po redukcji oraz mapowaniu?

###### W zbiorze testowym jak i tereningowym liczba etykiet przed i po mapowaniu się nie różni. Różni się liczba etykiet po redukcji - liczba etykiet cabin po redukcji znacząco zmalała.

#### Czy cały proces, który został do tej pory wykonany może mieć wpływ na końcowy wynik predykcji i jakość modelu?

##### cały proces może mieć wpływ na wynik końcowy przez zmianę NaN na 0, jak również redukcję etykiet w zmiennej cabin(która była zrobiona w lab2) . Po zmianie zmiennej z kategorycznej na numeryczną przez mapowanie jesteśmy w stanie  wykorzystać te zmienne w modelu, wię może to poprawić wartości predykcji i jakości modelu.

In [29]:
X_test.head(20)

,cabin,CabinReduced,sex,cabin_map,cabin_reduced_map,sex_map
1139,0,n,male,0,7,1
533,0,n,female,0,7,0
459,0,n,male,0,7,1
1150,0,n,male,0,7,1
393,0,n,male,0,7,1
1189,G6,G,female,99,4,0
5,E12,E,male,96,6,1
231,C104,C,male,114,8,1
330,0,n,male,0,7,1
887,0,n,male,0,7,1
531,0,n,male,0,7,1
790,0,n,male,0,7,1
427,0,n,male,0,7,1
1260,0,n,female,0,7,0
251,B57 B59 B63 B66,B,female,75,5,0
486,0,n,male,0,7,1
436,0,n,female,0,7,0
31,A31,A,male,11,0,1
186,0,n,female,0,7,0
1051,0,n,male,0,7,1

In [31]:
X_test.to_csv(r'C://Users/48510/Desktop/ML/X_test.csv')
X_train.to_csv(r'C://Users/48510/Desktop/ML/X_train.csv')
y_train.to_csv(r'C://Users/48510/Desktop/ML/y_train.csv')
y_test.to_csv(r'C://Users/48510/Desktop/ML/y_test.csv')